/********************************************
* Custom CSS Styles for Basic Mockup Exercise
*
* Some CSS rules have been added for you below.
* Edit and add CSS rules as you see fit! :D
********************************************/

body {
	font-family: sans-serif;
}
header {
	background-color: lightskyblue;
	padding: 10px;
}

.sfooter {
	border: 3px solid gray;
}
 .clear {
	background-color: lightskyblue;
	 width: 100%;
	 margin: 0 auto;
}

 footer {
	 background-color: black;
	 color: gray;
	 font-size: 60%;
	 font-style: italic;
	 padding: 25px 0;
 }

 .pull-left{
	float: left;
	 width: 250px;
	 height: 185px;
	 border: 5px solid gray;
 }

	.pull-right {
		float: right;
		width: 85px;
		height: 85px;
		margin-right: 12px;
		margin-top: 12px;
		border: 3px solid white;
	}

.container {
	margin: 0 auto;
	width: 960px;
}
section {
	background-color lightskyblue;
	padding: 20px;
	margin: 20px 0;
}
img {
	border: 5px;
}
.clear {
	clear: both;
}
	.instructions{
		border: 5px solid #ddd;
		padding: 20px;
		margin: 40px 0;
}

/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}

/********************************************
* ADD YOUR CSS HERE :D
********************************************/